BASE_URL="http://localhost:8000"
CLIENT_URL="http://localhost:8080"
GITHUB_CLIENT_ID="Iv1.c77127021493dbb5"
GITHUB_CLIENT_SECRET="e6c12e3d8eaab0ff5d9196303b52dd9d17881ea5"
DATABASE_URL="postgres://role:password@server:port/database"
