.drop {
  @apply relative select-none;

  .content {
    @apply absolute bg-gray-100 text-white whitespace-pre-wrap z-30;

    &:not(.no-arrow):before {
      content: '';
      @apply absolute block bg-gray-100 w-2 h-2 rotate-45deg border-gray-30;
    }

    &:not(.no-arrow).light {
      @apply bg-white;

      &:before {
        content: '';
        @apply bg-white;
      }
    }

    >div,
    >ul {
      @apply relative;
    }

    &.border {
      --arrow-margin: -.3rem
    }
    &:not(.border) {
      --arrow-margin: -.25rem
    }

    &.top-full.right-0 {
      @apply mt-3 -mr-3;

      &:before {
        top: var(--arrow-margin);
        right: 0;
      }
    }

    &.top-full.left-0 {
      @apply mt-3 -ml-3;

      &:before {
        top: var(--arrow-margin);
        left: 0;
      }
    }

    &.bottom-full.left-0 {
      @apply mb-3 -ml-3;

      &:before {
        bottom: var(--arrow-margin);
        left: 0;
      }
    }

    &.bottom-full.right-0 {
      @apply mb-3 -mr-3;

      &:before {
        bottom: var(--arrow-margin);
        right: 0;
      }
    }

    &.left-full.top-0 {
      @apply ml-4 -mt-2;

      &:before {
        top: .75rem;
        left: var(--arrow-margin);
      }
    }

    &.left-full.bottom-0 {
      @apply ml-4 -mb-2;

      &:before {
        bottom: .75rem;
        left: var(--arrow-margin);
      }
    }

    &.right-full.top-0 {
      @apply mr-4 -mt-2;

      &:before {
        top: .75rem;
        right: var(--arrow-margin);
      }
    }

    &.right-full.bottom-0 {
      @apply mr-4 -mb-2;

      &:before {
        bottom: .75rem;
        right: var(--arrow-margin);
      }
    }

    &.left-full.border {
      &:before {
        border-width: 0 0 1px 1px;
      }
    }

    &.right-full.border {
      &:before {
        border-width: 1px 1px 0 0;
      }
    }

    &.top-full.border {
      &:before {
        border-width: 1px 0 0 1px;
      }
    }

    &.bottom-full.border {
      &:before {
        border-width: 0 1px 1px 0;
      }
    }
  }
}