@import 'drop';
@import 'fonts';
@import 'sizes';
@import 'transitions';
@import 'backgrounds';

.blurred {
  filter: blur(5px);
}

.blurred-3xl {
  filter: blur(30px);
}

.bg-blurred-3xl {
  backdrop-filter: blur(30px)
}