/*
 * Container style
 */

.ps {
  @apply relative block overflow-hidden;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;

  @supports (-ms-overflow-style: none) {
    @apply overflow-auto;
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @apply overflow-auto;
  }

  &.ps--hidden {
  }

  &:not(.ps--hidden) {
    &:hover,
    .ps--focus,
    .ps--scrolling-x,
    .ps--scrolling-y {
      & > .ps__rail-y,
      & > .ps__rail-x {
        @apply opacity-75;
      }
    }

    .ps__rail-x {
      @apply h-4 bottom-0;
    }

    .ps__rail-y {
      @apply w-4 right-0;
    }

    > .ps__rail-y,
    > .ps__rail-x {
      @apply absolute hidden opacity-0;
      transition: background-color 0.2s linear, opacity 0.2s linear;

      &:hover,
      &:focus,
      &.ps--clicking {
        @apply bg-transparent opacity-100;

        .ps__thumb-x {
          @apply bg-indigo-30 h-2;
        }

        .ps__thumb-y {
          @apply bg-indigo-30 w-2;
        }
      }
    }

    &.ps--active-x > .ps__rail-x,
    &.ps--active-y > .ps__rail-y {
      @apply block bg-transparent;
    }

    .ps__thumb-x {
      @apply absolute bottom-min bg-gray-40 rounded-md h-2;
      transition: background-color 0.2s linear, height 0.2s ease-in-out;
    }

    .ps__thumb-y {
      @apply absolute right-min bg-gray-40 rounded-md w-2;
      transition: background-color 0.2s linear, width 0.2s ease-in-out;
    }
  }
}
