.min-h-screen-no-navbar {
  min-height: calc(100vh - 3.5rem);
}

.max-h-screen-no-navbar {
  max-height: calc(100vh - 3.5rem);
}

.min-h-screen-no-navbar-no-pane-header {
  min-height: calc(100vh - 3.5rem - .75rem - 2.75rem);
}

.max-h-screen-no-navbar-no-pane-header {
  max-height: calc(100vh - 3.5rem - .75rem - 2.75rem);
}

.max-w-modal {
  max-width: calc(100vw - 2.5rem);
}

.w-1\/3-gutter-1 {
  width: calc(33% - .25rem)
}

.max-h-xs {
  max-height: 20rem
}
