.min-h-screen-no-navbar {
  min-height: calc(100vh - 3.5rem);
}

.max-h-screen-no-navbar {
  max-height: calc(100vh - 3.5rem);
}

.max-w-modal {
  max-width: calc(100vw - 2.5rem);
}

.w-1\/2-gutter-1 {
  width: calc(50% - .25rem)
}